<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authority</key>
	<string>https://login.microsoftonline.com/common/oauth2/v2.0</string>
	<key>clientId</key>
	<string>bf52924d-a655-41a9-937c-08fda967e7e7</string>
	<key>scopes</key>
	<array>
		<string>https://graph.microsoft.com/mail.read</string>
	</array>
	<key>additionalScopes</key>
	<array/>
	<key>redirectUri</key>
	<string>urn:ietf:wg:oauth:2.0:oob</string>
	<key>response_mode</key>
	<string>form_post</string>
	<key>prompt</key>
	<string></string>
	<key>login_hint</key>
	<string></string>
	<key>taskWebAPI</key>
	<string>https://kidventus.net/todoserver/tasks</string>
	<key>fullScreen</key>
	<false/>
	<key>showClaims</key>
	<true/>
</dict>
</plist>
